.agile {
  height: 100%; 
  z-index: 5;

  .agile__list {
    height: 100%;
  }

  .agile__slides {
    align-items: flex-start;

    @media screen and (min-height: 800px) {
      align-items: center;
    }
  }

  .slide {
    position: relative;
  }

  .agile__actions {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 5;
  }

  button {
    background-color: transparent;
    border: none;
    padding: 8px;

    svg {
      fill: rgb(255 255 255 / 0.8);
      width: 2rem;
      box-sizing: border-box;
      vertical-align: middle;
      fill: none;
      stroke: rgb(255 255 255 / 0.8);
    }
  }
}